{% extends 'base.html' %}

{% block title%}{{ author.name }}{% endblock title %}

{% block content %}

<h1>{{ BIO.title }}</h1>
{{ BIO.details }}

<h1>{{ PROJECTS_TITLE}}</h1>
{% for project in PROJECTS %}
<div class="project row">
    <h3><a href="{{ project.link }}" target="_blank">{{ project.title }}</a></h3>
    <div class="col-xs-2">
        <img src="{{ project.image }}" alt="">
    </div>
    <div class="col-xs-9">
        {{ project.description }}
    </div>
</div>
{% endfor %}


Latest posts by me:

<ul>
    {% for article in articles[:5] %}
        {% if article.author == author %}
            <li><a href="{{ SITEURL }}/{{ article.slug }}.html">{{ article.title }}</a> on {{ article.date.strftime(DATE_FORMAT) }}</li>
        {% endif %}
    {% endfor %}
</ul>

{% endblock content %}
